body {
    background: linear-gradient(to bottom, #003355, #04536C);
    color: #ADACA7;
    padding: 2rem;
        }
    
 .nav-list
    {
    width: 100%;
    background-color: #FF5200;
    position: fixed;
    top: auto;
    left: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
        }
.nav-item {
    list-style: none;
    margin-right: 2rem;
    }
.nav-item a {
    text-decoration: none;
    color: #003355;
}
.nav-item a:hover{
    cursor: pointer;
    color: #ADACA7;
}
.nav-item :first-child {
    margin-right: auto;
    margin-left: 2rem;
}
    .introduction {
        text-align: center;
    }
    img {
        min-height: 350px;
        width: 450px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        border: 5px solid #FF5200;
    }